@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
/* Effects the sizing and font of every element */
* {
	box-sizing: border-box;
}
/* Gets rid of underlined hyperlinks until hovering over */
a.hyper:link{
	text-decoration:none;
}
a.hyper:hover{
	text-decoration:underline;
}
h3{
	font-weight: normal;
	font-size: 0.8em;

}
/*@media(min-width: 426px){
	h3{
		font-size:calc(0.8em + 0.1vw);
	}
}*/
body{
	font-family: "Montserrat", sans-serif;
	margin: 0;
	position: relative;
  	min-height: 100vh;
  	display: grid;
}
header{
	display: flex;
  	justify-content: space-between;
  	align-items: center;
	position: fixed;
	top: 0;
    left: 0;
	right: 0;
	height: 60px;
	background: black;
	opacity: 0.85;
}
header h2{
  	padding-left: 30px;
	color: white;
	font-size: 1.33em;
}
@media(min-width: 426px){
	header h2{
	  	font-size: 1.5em;
	}
}
header ul{
	display: flex;
	list-style-type: none;
	padding-top: 7px;
}
header li {
    padding: 0px 5px;
  }
header img{ 
	height: 40px;
}	
#facebook img{
	padding-right: 30px;
}
.header{
	grid-row: 1;
}
#header{
	height: 60px;
}

#container{
	grid-row: 2;
	display: grid;
}

#intro{
	display: grid;
	grid-row: 1;
}
/*@media(min-width: 426px){
	#intro{
		padding: 40px;
	}
}*/
#introductionText{
	grid-row: 2;
	width: 90vw;
	padding: 0 20px 10px;
	text-align: center;
	place-self: center;
}
/*@media(min-width: 426px){
	#introductionText{
		width: 50vw;
		grid-row: 1;
		padding-top: 20px;
		text-align: left;
	}
}*/
#introductionPic{
	grid-row: 1;
	grid-column: 1 / 3;
	height: 200px;
	padding-top: 20px;
	justify-self: center;
}
/*@media(min-width: 426px){
	#introductionPic{
		grid-column: 3;
		padding-left: 10px;
		height: auto;
		max-height: 300px;
		width: auto;
		justify-self: left;
	}
}*/

#carouselBanner{
	background-color: rgb(236,228,228);
	grid-row: 3;
	display: grid;
	margin-bottom: 20px;
}
button{
	background-color: rgb(236,228,228);
	border: none;
}
#leftarrow{
	grid-column: 1;
	background: rgb(236,228,228);
	padding-left: 20px;
}
.carousel{
	grid-column: 2;
	display: grid;
	height: calc(420px - (1/7 * 90vw));
}
/*@media(min-width: 426px){
	.carousel{
		height: auto;
	}
}*/
.carouselPic{
	grid-row: 1;
	padding-top: 33px;
	width: 80%;
	max-width: 250px;
	justify-self: center;
}
/*@media(min-width: 426px){
	.carouselPic{
		grid-column: 1;
		padding: 30px 0px 15px 40px;
		height: 100%;
		width: 100%;
	}
}*/
.carouselText{
	grid-column: 1;
	grid-row: 2;
	padding: 0px 32px;
	place-self: center;
}
/*@media(min-width: 426px){
	.carouselText{
		grid-column: 2;
		grid-row: 1;
	}
}
@media(min-width: 426px){
	#compsciText{
	}
}*/
#rightarrow{
	grid-column: 3;
	padding-right: 20px;
}
#leftarrow, #rightarrow{
	grid-row: 1 / 3;
	background: rgb(236,228,228);
	font-weight: bold;
  	font-size: 18px;
  	color: #717171;
}
#leftarrow:hover, #rightarrow:hover {
  color: black;
}
#dots{
	text-align: center;
	grid-column: 2 / 3;
	padding: 15px;
}
.dot {
	  cursor: pointer;
	  height: 10px;
	  width: 10px;
	  margin: 0 2px;
	  background-color: #717171;
	  border-radius: 50%;
	  display: inline-block;
	  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  	background-color: black;
}
.hidden{
	display: none;
}

footer{
	position: absolute;
  	bottom: 0;
	background: black;
	opacity: 0.95;
	vertical-align: top;
}
footer, #footer{
	height: 75px;
}
/*@media(min-width: 426px){
	footer, #footer{
		height: 100px;
	}
}*/
.footer{
	grid-row: 3;
	width: 100%;
}