/* Effects the sizing and font of every element */
* {
	box-sizing: border-box;
}
/* Gets rid of underlined hyperlinks until hovering over */
a.hyper:link{
	text-decoration:none;
}
a.hyper:hover{
	text-decoration:underline;
}
h2{
	font-weight: normal;
}
body{
	margin: 0;
	padding: 0;
}
header{
	position: fixed;
	top: 0;
    left: 0;
	right: 0;
	height: 60px;
	background: black;
	opacity: 0.85;
	display: flex;
  	justify-content: space-between;
  	align-items: center;
}
header h2{
  	padding-left: 30px;
	color: white;
}
header ul{
	padding-top: 7px;
}
header li {
    display: inline-block;
    padding: 0px 2px;
  }
header img{ 
	height: 40px;
}	
#facebook img{
	padding-right: 30px;
}
#row1{
	display: grid;
	grid-template-rows: 30px 300px;
	grid-template-columns: auto 60% 30% auto;
}
.introduction{
	margin-top: 20px;
	grid-area: 2/2/3/3;
}
#headshot{
	grid-area: 2/3/3/4;
	padding-left: 20px;
}
#headshot img{
	display: block;
	max-height: 300px;
	width: auto;
}
#row2{
	display: grid;
	grid-template-rows: 40px 300px 150px;
	grid-template-columns: 75px 2fr 3fr 75px 75px;
}
#leftarrow{
	grid-area: 2/1/3/2;
	background: rgb(236,228,228);
}
#rightarrow{
	grid-area: 2/4/3/5;
	background: rgb(236,228,228);
}
.slidepic{
	grid-area: 2/2/3/3;
	padding: 40px 60px;
	background: rgb(236,228,228);
}
.slidepic img{
	display: block;
	max-height: 220px;
	width: auto;
}
.slidetext{
	padding: 75px 50px;
	grid-area: 2/3/3/4;
	background: rgb(236,228,228);
	display: flex;
}
footer{
	position: absolute;
	width: 100%;
	height: 100px;
	background: black;
	opacity: 0.95;
}